### Instructions

#### Complete the following steps on the categorical columns in the dataset:

#### 1. Check for null values in all the columns

In [1]:
import pandas as pd
import numpy as py

In [2]:
data = pd.read_csv('learningSet.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_9228\3673836359.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [3]:
null_values = data.isnull().sum()
print(null_values)

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

#### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

In [4]:
drop_list =[] #creating a new list!

In [5]:
drop_list.append('OSOURCE')
drop_list.append('ZIP') #ZIP CODE as a variable name doesn't exist in the dataframe

In [6]:
data.drop(columns=drop_list, inplace=True)

#### 3. Identify columns that over 85% missing values

In [9]:
missing_alot = (data.isnull().sum() / data.shape[0]) * 100 #calculates the proportion of nulls over the number of rows in every column. the *100 returns a percentage and stores it in the missing_alot variable

#### 4. Remove those columns from the dataframe

In [10]:
drop_them = missing_alot[missing_alot > 85].index.tolist() #stores the names of columns which have null values exceeding 85% of the column's row count

In [11]:
data.drop(columns=drop_them, inplace=True)

#### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

#### Note that there are a few null values in the column. We will first replace those null values using the code below:
#### print(categorical['GENDER'].value_counts())
#### categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [14]:
data['GENDER'].value_counts() # to see what categories are present within the column and their respective counts

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [18]:
data['GENDER']= data['GENDER'].fillna('F')

In [19]:
data['GENDER'].value_counts() #this indicates that the empty values are not represented by NAN> We'll need to usse data.loc instead

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [24]:
data.loc[data['GENDER'] == ' ', 'GENDER'] = 'F' #replaces ' ' rows in 'GENDER' with 'F' , and ' ' actually consists of two spaces

In [25]:
data['GENDER'].value_counts() # to check if the '  ' rows have been reassigned as 'F'

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [27]:
data.loc[~data['GENDER'].isin(['M', 'F']), 'GENDER']= 'Other'  # if a row is neither M or F (~ being a negation symbol), replace that value with 'Other'

In [28]:
data['GENDER'].value_counts() #to check if the rows were sucessfully relabelled

F        54234
M        39094
Other     2084
Name: GENDER, dtype: int64